@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    list-style-type: none;
}
header{
    background-color: #59baa3ec;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid rgba(128, 128, 128, 0.5);
    position: fixed;
    z-index: 2;
}
#logo{
    width: 140px;
    height: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}
#logo a img{
    width: 100%;
    height: 100%;
}
#logo a{
}
#nav{
    display: flex;
    align-items: center;
}
#nav ul li{
    float: left;
    padding: 20px;
}
#nav ul a{
    text-decoration: none;
    font-size:x-large;
    font-weight: 700;
    color: white;
    transition: ease-out 0.2s;
}
#nav ul a:hover{
    color: black;
    transition: ease-out 0.5s;
}
#searchcartwrapper{
    margin: auto 20px;
}
#search{
    padding: 20px;
}
#searchbar{
    width: 400px;
    height: 40px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: large;
    border: 0px;
    border-radius: 20px;
}
#searchbutton{
    right: 50px;
    height: 30px;
    width: 30px;
    background-color: transparent;
}
#cartbutton, #searchbutton{
    position: relative;
    border: 1px;
    cursor: pointer;
    font-size: 16px;
}
#cartbutton{
    right: 25px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#searchbutton i:hover, #cartbutton i:hover{
    transform: scale(1.20);
    transition: 0.2s;
}
#mainbanner{
    height: 950px;
    background-image: url(../img/mainbanner.jpg);
    border-bottom: 10px solid #5a4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainbanner p{
    display: inline-block;
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 48px;
    color: white;
    background: none;
}
#shop{
    margin: 0px auto;
    width: 1400px;
    padding: 20px;
}
#shop h1{
    width: 200px;
    margin: 40px auto;
    margin-bottom: 20px;
    text-align: center;
}
#shop hr{
    width: 150px;
    margin: 0px auto;
    border: 2px solid black;
    border-radius: 4px;
}
#shop h2{
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
.shopwrapper{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.article{
    width: 256px;
    height: 350px;
}
.articleimg{
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    transition: ease-in-out 0.2s;
}
.articleimg:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.4s;
}
.articletext{
    padding: 20px 5px;
}
.articletitle{
    float: left;
    color: rgba(0, 0, 0, 0.8);
}
.articleprice{
    float: right;
    font-weight: 700;
}
.cleaner{
    clear: both;
}
.articledesc{
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 8px;
}
main hr{
    border: 2px solid rgb(155, 155, 155);
}
footer{
    width: 100%;
    height: 300px;
    background-color: #448d7d;
}
#footercontent{
    height: 250px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.footersection{
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 250px;
}
#info{
    border-right: 6px solid #569385;
    text-align: center;
}
#info li{
    background-color: #448d7d;
    padding: 6px;
}
#info li a{
    text-decoration: none;
    background: none;
    color: white;
}
#info li a:hover{
    color: black;
    transition: 0.3s;
}
.footersection h3{
    background-color: #448d7d;
    padding-bottom: 20px;
    padding-top: 50px;
    color: white;
}
#social ul{
    display: flex;
}
#social ul li {
    margin: 0px 10px;
}
#social ul li i{
    font-size: 36px;
}
#social ul li i.fa-facebook {
    color: #205bd5;
}
#social ul li i.fa-instagram {
    color: #C13584;
}
#social ul li i.fa-youtube {
    color: #d90000;
}
#social ul li i.fa-twitter {
    color: #1DA1F2;
}
#newsletter{
    border-left: 6px solid #569385;
}
footer p{
    background: none;
    text-align: center;
    color: rgb(240, 240, 240);
    padding: 15px;
}
#newslettercontainer form{
    display: flex;
    margin-top: 10px;
}
#newslettercontainer p{
    padding: 0px;
}
#newslettermail {
    padding: 5px;
    flex-grow: 1;
}
#footerlogo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#footerlogo img {
    width: 140px;
    height: 80px;
}

#gallerypage {
    padding-top: 170px;
    padding-left: 50px;
    padding-right: 50px;
}
#gallerypage h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    font-family: 'Dancing Script';
    font-size: 34px;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#gallery img {
    width: 30%;
    margin-bottom: 30px;
    transition: transform 100ms;
}
#gallery img:hover {
    transform: scale(1.1);
}

#contactpage {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
#shoplocation {
    margin-right: 100px;
}
.contactform form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactform h1 {
    text-align: justify;
    font-size: 22px;
    width: 400px;
    margin-bottom: 15px;
}
.contactinput {
    width: 400px;
    padding: 5px;
    margin-bottom: 15px;
}

.contactform input[type="submit"] {
    padding: 5px;
    background-color: #59baa3ec;
}
.contactform textarea {
    height: 100px;
    resize: vertical;
}

#aboutpage {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    min-height: 500px;
}
.profilepic {
    margin-right: 100px;
}
.profilepic img {
    width: 320px;
    box-shadow: rgba(99, 99, 99, 0.589) 4px 4px;
}
.aboutinfo h1 {
    margin-bottom: 15px;
}
.aboutinfo p {
    margin-bottom: 15px;
    font-size: large;
}

.aboutinfo h2 {
    margin-bottom: 10px;
}
.aboutinfo .mail-icon {
    color: #e52929;
}
.aboutinfo .facebook-icon {
    color: #3b5998;
}
.aboutinfo .youtube-icon {
    color: #d90000;
}
.aboutinfo .twitter-icon {
    color: #1DA1F2;
}